# Ignore Python virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Node modules (frontend)
node_modules/

# Build files
dist/
build/
app/db/
backend

# PostgreSQL data folder
postgres-data/